.container{
  box-sizing: border-box;
  width: 80%;
  margin:0 auto;
  padding: 20px;
  display:flex;
  flex-direction: column;
  align-items: center;
}
@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="container"] {
    width: 100%;
  }
}

.c-search { 
  display: flex; 
  margin: 0 auto; 
  width: 80%; } 
  
  .c-search__input { 
    display: block; 
    flex-grow: 1; 
    margin-right: 10px; 
  }

  .i-frame {
    /* position: relative; */
    overflow: hidden;
    width: 100%;
    /* padding-top: 56.25%; 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
  }

  .responsive-iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
  }


  .light-theme-bg, .light-theme-bg p,
  .light-theme-bg h1,.light-theme-bg h2,
  .light-theme-bg h4{
    background: azure;
    color: rebeccapurple;
    /* padding: 7px; */
}
  .dark-theme-bg{
    background: black;
  }

  .light-typo{
    color:white;
  }
  .dark-typo{
    color:rebeccapurple;
  }
  